:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(237, 233, 233);
  background-color: #2a364af8;
}

body {
  padding: 1rem;
}

.cartApp-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 10px;
}

.cartApp-header li {
  list-style: none;
}

.cartApp-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cartApp-products > div {
  width: 45%;
  border: 1px solid rgb(228, 221, 221);
  padding: 5px;
  border-radius: 4px;
  margin: 2px;
}
.cartApp-products .button-wrapper {
  display: flex;
  justify-content: end;
  margin: 5px;
  gap: 2px;
}
.cartApp-products .price::before {
  content: "₹";
}

.cart-badge {
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  color: black;
}
