.product-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin: 10px;
  background-color: tomato;
  flex-direction: column;
  color: black;
  border: 1px solid gray;
}

.bg-dodgerblue {
  background-color: dodgerblue;
}

.bg-tomato {
  background-color: tomato;
}
