.product-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin: 10px;
  background-color: tomato;
  flex-direction: row;
  color: black;
  border: 1px solid gray;
}

.product-card img {
  height: 60px;
  width: 60px;
}

.bg-dodgerblue {
  background-color: dodgerblue;
}

.bg-tomato {
  background-color: tomato;
}

table {
  width: 100%;
  font-size: 1.5em;
}

.actions {
  display: flex;
  gap: 5px;
}

.actions button {
  padding: 5px;
  background-color: rgb(25, 124, 25);

  color: white;
  font-weight: 500;
  font-size: 20px;
  margin: 10px;
}

.form-wrapper {
  border: 1px solid gray;
}

.form-wrapper input {
  width: 90%;
  margin: 10px;
  font-size: 20px;
}
